@use '../../styles/base' as *;

.widget-user__profile {
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle !important;

  .bp6-light & {
    background-color: #f4f5f6;
  }

  .bp6-dark & {
    background-color: $dark-background-color;
  }

  svg {
    vertical-align: middle !important;
  }
}

.bp6-menu li,
.bp6-menu li a {
  color: inherit;
}

.widget-user__avatar-wrapper {
  height: 60px;
  padding-top: 10px;
  padding-left: 10px;
}

.widget-user__avatar {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.widget-user__link {
  margin-right: 20px;
  font-size: 0.9 * $font-size;
  white-space: nowrap;
}

.widget-user__burger,
.widget-user__menu-helper {
  display: none !important;
}

.widget-user__menu {
  max-width: calc(100vw - 32px);

  a {
    color: inherit !important;
  }
}

.widget-user__user__username {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

@media only screen and (max-width: 960px) {
  .widget-user__avatar-wrapper {
    display: none;
  }

  .widget-user__avatar-menu {
    margin-right: 10px;
  }

  .widget-user__burger,
  .widget-user__menu-helper {
    display: flex !important;
    align-items: center;
    cursor: pointer;
  }
}

@media only screen and (max-width: 600px) {
  .widget-user__link {
    margin-right: 8px;
    font-size: 13px;
  }

  .widget-user__user__username {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 480px) {
  /* On compact mobile devices, avoid button collision by relying on burger menu */
  .widget-user__avatar-menu {
    display: none !important;
  }

  .widget-user__link:not(:first-of-type) {
    display: none;
  }

  .widget-user__link {
    margin-right: 6px;
    font-size: 12px;
  }
}
