@use '../../styles/variables/colors' as *;

.content-card {
  overflow-x: auto;
  max-width: 100%;
  box-sizing: border-box;

  h3 {
    line-height: normal;
    margin-bottom: 4px;
  }

  @media only screen and (max-width: 600px) {
    padding: 12px;

    h3 {
      font-size: 16px;
    }
  }
}

.bp6-dark .content-card .content-card,
.bp6-dark .card .content-card {
  box-shadow: 0 0 0 0.5px $dark-secondary-background-color !important;
}
