.single-contest-routes__header {
  margin-top: -2px;
  padding-bottom: 8px;
}

.tab-item-with-widget {
  position: absolute;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

@media only screen and (max-width: 1280px) {
  .tab-item-with-widget {
    width: 190px;
  }
}

@media only screen and (max-width: 860px) {
  .tab-item-with-widget {
    position: relative !important;
    width: calc(100% - 24px) !important;
    margin-right: 8px;
  }
}

@media only screen and (max-width: 750px) {
  .single-contest-routes__header {
    h2 {
      font-size: 20px !important;
      line-height: 22px !important;
      word-break: break-word;
    }
  }
}

.contest-state-widget {
  .contest-state-widget__right {
    margin-left: auto;
  }

  @media only screen and (max-width: 600px) {
    .contest-state-widget__left,
    .contest-state-widget__right {
      width: 100%;
      margin-left: 0 !important;
    }

    .contest-state-widget__left .bp6-button {
      width: 100%;
      height: 36px;
    }
  }
}
